In [2]:
import pandas as pd 
df = pd.read_csv('amazon_prime_titles.csv')

In [27]:
#load the data into mysql using replace option
import sqlalchemy as sal
engine = sal.create_engine('mysql+pymysql://root:root@localhost:3306/JayeshT_projects')
conn=engine.connect()

In [26]:
#load the data into sql server using replace option

df.to_sql('amazon_prime_raw', con=conn , index=False, if_exists = 'replace')
conn.close()

In [4]:
len(df)

9668

In [28]:
#load the data into sql server using append option

df.to_sql('amazon_prime_raw', con=conn , index=False, if_exists = 'append')

In [25]:
df['description'].str.len().max()

1099

In [12]:
column_names = df.columns

print(column_names)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [4]:
#null values in each column

df.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64